$dark: #11022d;
$semiDark: #3c0a6d;
$main: #7a2cbe;
$semiLight: #9d4edd;
$light: #e0aafe;
$whitePurpleText: #fdecff;
$darkPurpleText: #1f112f;
$bgColor: #F3E8FF;

.single-match {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 0.9em;
    flex-wrap: wrap;

    @media(max-width:880px) {
        flex-direction: column;
        padding-top: 1.5em;
        padding-bottom: 1em;
        border-top: 1px solid #9c9c9c;

        .second {
            display: none;
        }
    }

    @media(max-width:390px) {

        .index,
        input[type="text"],
        button {
            width: 50px !important;
        }
    }
}

.main {
    padding-bottom: 8px;
    border-bottom: 1px solid #9c9c9c;

    @media(max-width:880px) {
        padding-top: 0.5em;
    }

    @media(max-width:390px) {
        .MuiTextField-root {
            width: 80px !important;
        }
    }
}

.MuiBox-root.css-19kzrtu {
    @media(max-width:430px) {
        padding: 0.5em !important;
    }
}

.custom-table-sts {
    width: 100%;
    min-height: calc(100vh - 250px);
    max-height: calc(100vh - 250px);
    margin-top: 1.5em;
    background-color: $bgColor !important;
}

.MuiDataGrid-overlay {
    background-color: $bgColor !important;
}

.custom-table-sts .MuiDataGrid-columnHeader {
    background-color: $semiDark;
    color: $whitePurpleText;

    svg {
        color: $whitePurpleText;
    }
}

.MuiDataGrid-scrollbarFiller {
    background-color: $bgColor;
}