@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

$dark: #11022d;
$semiDark: #3c0a6d;
$main: #7a2cbe;
$semiLight: #9d4edd;
$light: #e0aafe;
$whitePurpleText: #fdecff;
$darkPurpleText: #1f112f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  border-radius: 0;
  font-family: "League Spartan", sans-serif;
}

body,
#root {
  width: 100vw;
  height: 100vh;
}

::selection {
  color: $whitePurpleText;
  background-color: $darkPurpleText;
}

.MuiOutlinedInput-root {
  border-radius: 0 !important;
}